@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@fontsource/red-hat-display/300.css';
@import '@fontsource/red-hat-display/400.css';
@import '@fontsource/red-hat-display/500.css';
@import '@fontsource/red-hat-display/700.css';

@layer base {
  html,
  body {
    @apply bg-black font-sans leading-8 tracking-tight text-white;
    font-family: 'Red Hat Display', sans-serif;
  }

  * {
    @apply leading-8;
  }

  *,
  *::before,
  *::after {
    @apply box-border;
  }
}

@layer components {
  .social-icon-wrapper {
    @apply relative block h-[50px] w-[50px];
  }

  .social-icon-svg {
    @apply pointer-events-none absolute inset-0 h-full w-full;
  }

  .social-icon-content {
    @apply absolute inset-0 flex items-center justify-center text-[18px] text-white;
  }

  .social-icon-wrapper:hover .social-icon-content {
    @apply text-primary;
  }

  .nav-link {
    @apply cursor-pointer text-base font-medium tracking-[1px] text-white;
  }

  .icon-bg {
    @apply flex aspect-square h-24 items-center justify-center rounded-xl shadow-[0_17px_20px_rgba(0,0,0,0.02)];
    background-image: linear-gradient(226deg, #100f0f 10%, #222325);
  }

  .social-border {
    @apply flex h-10 w-10 items-center justify-center rounded-[5px] border border-solid;
    padding: 12px;
    border-width: 1px;
    border-image-source: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.25) 100%
    );
    border-image-slice: 1;
  }
}
